@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

body {
    /* Fond de sable chaud */
    background: radial-gradient(circle at 50% 50%, #FFECD2, #FFC371); 
    color: #333;
    padding: 50px;
    font-family: 'Quicksand', sans-serif;
    text-align: center;
}

h1 {
    font-family: 'Pacifico', cursive;
    font-size: 3em;
    color: #0077B6; /* Bleu Océan */
    text-shadow: 2px 2px 0px #FFECD2, 4px 4px 0px #FF5F6D; /* Effet de contour clair/rose */
    animation: breathLight 4s infinite alternate; /* Effet de respiration de lumière */
}

@keyframes breathLight {
    from { opacity: 0.9; text-shadow: 2px 2px 0px #FFECD2; }
    to { opacity: 1; text-shadow: 2px 2px 5px #FFFFFF; }
}

p {
    font-size: 1.5em;
    color: #1a1a1a;
    background-color: rgba(255, 255, 255, 0.8);
    display: inline-block;
    padding: 10px 30px;
    border-radius: 25px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}