@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500;700&display=swap');

body {
    /* Fond océan profond, texturé par un motif de vagues */
    background-color: #0077B6;
    background-image: radial-gradient(circle at 50% 100%, rgba(255, 255, 255, 0.05) 50%, transparent 50%);
    background-size: 100% 50px;
    margin: 0;
    padding: 20px 0;
    font-family: 'Quicksand', sans-serif;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav li {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

nav a {
    text-decoration: none;
    display: block;
    padding: 15px 20px;
    font-size: 1.2em;
    color: #E0FBFC; /* Blanc océanique clair */
    transition: all 0.4s ease;
}

/* Effet de survol : vague d'écume et sable */
nav a:hover {
    background-color: #FFC371; /* Couleur de sable */
    color: #1a1a1a;
    transform: translateX(10px); /* Vague vers la droite */
    box-shadow: inset 5px 0 0 #00A8E8; /* Ligne bleue à gauche comme une vague */
}